useDynLib(arules)

import("Matrix")

export(
    "read.transactions", 
    "random.transactions", 
    "apriori", 
    "eclat"
    )

exportClasses(
    "itemMatrix", "summary.itemMatrix",
    "transactions", "summary.transactions",
    "tidLists", "summary.tidLists", 
    "associations", "summary.associations",
    "itemsets", "summary.itemsets",
    "rules", "summary.rules",
    "ASparameter", "AScontrol",
    "APparameter", "APcontrol", "APappearance",
    "ECparameter", "ECcontrol"
    )

exportMethods(
    "%in%",
    "LIST",
    "SORT",
    "WRITE",
    "[",
    "allConfidence",
    "c", 
    "coerce", 
    "decode", 
    "dim", 
    "duplicated",
    "encode",
    "hyperLift", 
    "hyperConfidence",
    "image", 
    "initialize", 
    "inspect", 
    "intersect", 
    "itemInfo", "itemInfo<-", 
    "items", "items<-",
    "itemLabels", "itemLabels<-", 
    "itemFrequency", 
    "itemFrequencyPlot",
    "labels", 
    "length", 
    "lhs", "lhs<-",
    "match",
    "quality", "quality<-",
    "recode",
    "rhs", "rhs<-", 
    "ruleInduction",
    "sample",
    "setequal",
    "show", 
    "size", 
    "subset", 
    "summary", 
    "support", 
    "t", 
    "tidLists", 
    "transactionInfo", "transactionInfo<-",
    "union",
    "unique"
    )
