useDynLib(arules)

import(Matrix)
export("read.transactions", "apriori", "eclat")
exportClasses(
    "itemMatrix", "summary.itemMatrix",
    "transactions", "summary.transactions",
    "tidLists", "summary.tidLists", 
    "associations", "summary.associations",
    "itemsets", "summary.itemsets",
    "rules", "summary.rules",
    "ASparameter", "AScontrol",
    "APparameter", "APcontrol", "APappearance",
    "ECparameter", "ECcontrol")
exportMethods("%in%",
              "LIST",
              "SORT",
              "[",
              "all_confidence", "affinity",
	      "coerce", "combine",
              "decode", "dim", "dissimilarity", "duplicated",
	      "hmap", "hyperlift", "hyperconfidence",
              "image", "initialize", "inspect", "itemInfo", 
              "itemInfo<-", "items", "items<-",
	      "itemLabels", "itemLabels<-", 
	      "itemFrequency", "itemFrequencyPlot",
              "labels", "length", "lhs", "lhs<-",
              "quality", "quality<-",
              "rhs", "rhs<-", "ruleInduction",
              "sample", "show", "size", "subset", "summary", 
              "tidLists", "transactionInfo", "transactionInfo<-",
	      "unique")
